@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Figtree", sans-serif;
    background-color: hsl(47, 73%, 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.card, .card-qrcode{
    background-color: hsl(0, 0%, 100%);
    width: 382px;
    height: 520px;
    border-radius: 19px;
    border: 1px solid #000;
    box-shadow: 8px 9px 1px  black;
    padding: 23px;
    display: none;
}
@media (max-width: 440px) {
    body {
        height: 100dvh;
    }
    .card, .card-qrcode {
        width: 80%;
        
    }
}
.card img {
    width: 100%;
    border-radius: 14px;
    margin-bottom: 22px;
}
.card span, button {
    background-color: #f4d04e;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 800;
    border-radius: 5px;
}
.card span:hover {
    background-color: #2e2d2d;
    color: white;
    cursor: pointer;
}
.card h4 {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
}
.card h1 {
    font-size: 24px;
    font-weight: 800;
    color: #000;
    margin-bottom: 16px;
}
.card h1 a:active {
    color: hsl(47, 88%, 63%);
}
.card p {
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
    margin-bottom: 24px;
}
.card .section-avatar {
    display: flex;
    align-items: center;
    gap: 13px;
}
.section-avatar img {
    width: 31px;
    margin: 0;
}
.section-avatar h6 {
    font-size: 14px;
    font-weight: 800;
    color: #121212;
}

.card-qrcode {
    display: flex;
    display: none;
}
.card-qrcode .container-img-qrcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 100%;
}
.card-qrcode .container-img-qrcode img {
    width: 75%;
}
.card-qrcode .container-img-qrcode button {
    width: 70%;
}
.card-qrcode .container-img-qrcode button:hover {
    background-color: #2e2d2d;
    color: white;
    cursor: pointer;
}

.ativo {
    display: block;
}